# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/ciphersqlstudio?retryWrites=true&w=majority

# PostgreSQL (Sandbox DB)
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=ciphersqlstudio_sandbox
PG_USER=postgres
PG_PASSWORD=yourpassword

# LLM API (Choose one)
# OpenAI
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# OR Gemini
GEMINI_API_KEY=AIzaSyxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LLM_PROVIDER=gemini

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
